.section-hero {padding-top: 0;}
.section-knowledge {
    .grid {margin-top: 4rem;}
    .button-wrapper {
        margin: 4rem auto;
    }
}
.section-faq {
    padding-top: 0;
    .accordions-wrapper {margin-top: 4rem;}
}
.section-contact {
    .container-fluid {margin-top: 4rem;}
}