//variables
$black:                       #111;
$white:                       #fff;
$blue:                        #283150;
$red:                         #f05440;

$font-size:                     14px;
$font-size-mobile:              12px;

$mobile:                        767px;
$tablet:                        991px;
$desktop:                       1440px;
$desktop-large:                 2200px;

//functions
@function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));  
    @return $randomNum;
}

//import basics
@import 'reset';
@import 'grid';
@import 'fonts';
//import pages and components
@import 'components/hero';
@import 'pages/home';

//style
//tags
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, *:before, *:after {
    box-sizing: border-box;
}

::-moz-selection { background: $blue; color: $black; }
::selection { background: $blue; color: $black; }
html{ scroll-behavior: smooth; background: $blue; }
body {
    background-color: transparent;
    font-family: stevie-sans, sans-serif;
	font-size: $font-size;
    color: $black;
    line-height: 1.5;
    max-width: 100vw;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    @media screen and (max-width: $tablet) {
        font-size: $font-size-mobile;
        overflow-y: scroll;
    }
    &.lock-scroll {
        overflow: hidden;
    }
}

a {
    color: inherit;
    text-decoration: none;
    transition: all .3s ease;
    &:hover {
        color: inherit;
    }
}
img {
    max-width: 100%;
    height: auto;
    &.parallax {
        width: 100%;
    }
}
body, h3, h4 { color: $blue; }
h1, h2, h3, h4, h5, h6 { font-weight: 700; font-family: stevie-sans, sans-serif; margin-bottom: 10px; }
h1 {
    font-size: 58px;
    line-height: 55px;
    font-weight: 900;
    margin: .67em 0;
}
.h3-bigger { margin-bottom: 10px; font-size: 27px; line-height: 31px; font-weight: 900;}
li, p { font-size: 17px; line-height: 22px; font-weight: 400; font-family: 'BorgiaPro-Regular', Georgia, sans-serif;}
p { margin-bottom: 15px; }
small { font-size: 50%; }
.small, h1, h2, h3 {
    margin-bottom: 20px;
}
strong {font-weight: 700;}
marquee {
    img {
        height: $font-size;
        width: auto;
    }
}

//classes
.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    @media screen and (max-width: $tablet) {
        max-width: 90%;
    }
}
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.margin-bottom-0 { margin-bottom: 0; }

.bg--white { background-color: $white; color: $blue; }
.bg--black { background-color: $black; color: $white; }
.bg--blue { background-color: $blue; color: $white; }

.mobile-only {
    display: none;
    @media screen and (max-width: $tablet) {
        display: block;
    }
}
.desktop-only {
    display: block;
    @media screen and (max-width: $tablet) {
        display: none;
    }
}

.text-right {text-align: right;}
.text-left {text-align: left;}

.hide {display: none;}
.show {display: block;}