.accordion-wrapper {
    background-color: $pureWhite;
    padding: 20px;
    width: 100%;
	border: 1px solid $border-color;
	border-radius: 6px;
	box-shadow: 5px 10px 10px $shadow;
}
.accordion {
	width: 100%;
	cursor: pointer;
	transition: all .3s ease;
	outline: none;
	&:after {
		content: '\02795'; /* Unicode character for "plus" sign (+) */
		font-size: 13px;
		color: $black;
		float: right;
		margin-left: 5px;
	}
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.active, .accordion:hover {
  border: 1px solid $green;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}