form {
    grid-gap: 1rem !important;
    input, textarea {
        border: 1px solid $border-color;
        border-radius: 12px;
        padding: 13px;
    }
    .field {
        margin-bottom: 1rem;
        justify-self: stretch;
        &.field-long {grid-column-end: span 2;}
        label, input, textarea {width: 100%;}
    }
}