header {
    z-index:999;
    background: $pureWhite;
    box-shadow: 5px 10px 10px $shadow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1rem 3.75rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    @media screen and (max-width: $mobile) {
        padding: 0 5%;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        a {
            margin: 0 15px;
            font-weight: 500;
            color: $black;
            &:hover,
            &:active { color: $green; }
        }
    }
}
.mobile-navbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}