.image-card {
    .card-image {
        position: relative;
        .member {width: 100%;}
        .logo {
            position: absolute;
            top: 2rem;
            right: 2rem;
        }
    }
    .card-content {
        padding: 30px;
        .title {
            font-size: 28px;
            font-weight: 600;
            span {
                float: right;
                background: $gradient-green;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}