.infographics-hero-img {
    height: auto;
}

.grid.infographics-hero {
    @media screen and (max-width: $mobile) {
        margin-top: 80px;
    }
    #hero-image-1 {
        @include gridRow(8, 13);
        @include gridCol(9, 18);
    }
    #hero-image-2 {
        @include gridCol(10, 17);
        @include gridRow(12, 16);
    }
    #hero-image-3 {
        @include gridCol(1, 7);
        @include gridRow(7, 11);
        margin-left: -120px;
    }
    #hero-image-4 {
        @include gridCol(1, 5);
        @include gridRow(12, 16);
        margin-left: -50px;
    }
    #hero-image-5 {
        @include gridCol(18, 25);
        @include gridRow(6, 10);
        margin-left: 20px;
    }
    #hero-image-6 {
        @include gridCol(20, 25);
        @include gridRow(10, 14);
        margin-left: 120px;
    }
    #hero-image-7 {
        @include gridCol(19, 25);
        @include gridRow(14, 19);
    }
}

.infographics-copy {
    #icons-1 {
        @include gridCol(2, 7);
        @include gridRow(1, 2);
        @media screen and (max-width: $mobile) {
            @include gridCol(2, 12);
            @include gridRow(2, 3);
        }
    }
    #icons-2 {
        @include gridCol(2, 7);
        @include gridRow(2, 3);
        @media screen and (max-width: $mobile) {
            @include gridCol(2, 12);
            @include gridRow(3, 4);
        }
    }
    #icons-1,
    #icons-2 {
        div {
            flex: 1;
        }
    }
}