.single-page {
    p {color: $black !important;}
    img {
        border-radius: 6px;
    }
    .single-page-header {
        img {
            width: 100%;
            height: auto;
        }
        h1 {
            span {
                color: $green;
            }
        }
    }
    .single-page-content {
        margin: 2rem 0 5rem;
    }
}
.wp-block-media-text {margin: 3rem 0;}
.has-large-font-size {
    font-family: $font-display;
    font-size: 48px !important;
    line-height: 58px;
    @media screen  and (max-width: $tablet){
        font-size: 28px;
        line-height: 33px;
    }
}